@import url('https://fonts.googleapis.com/css?family=Bitter:700|Noto+Sans+TC&display=swap');
html{
	--main-light-blue: #fdffe6aa;
	--main-dark-blue: #C3D500;
}
ul{
	padding-inline-start:20px;
}
body{
	font-size: 18px;
	background: #fff;  /* fallback for old browsers */
}
a { 
	color: initial; 
	text-decoration: none;
} 
a:hover{
	text-decoration: none;
	color: initial;
}

.sidebar{
	padding: 0px;
	list-style-type: none;
}
.sidebar li{
	border-bottom: 1.2px solid;
	padding: 10px;
	font-size: 0.98rem;
	color: #C3D500;
}

.main-container{
	margin: 0px 8% 0px 8%;
	text-align: justify;
}
.nav-top-container{
	width: 100%;
	padding: 10px;
	color: #1C4D83;
	text-align: left; 
	text-transform: uppercase;
	display: inline-block;
}
.nav-top-container img{
	width: 50px;
	padding: 2px;
	float: left;
}
.leftpart{
	padding-top: 10px;
  margin-left: 3px;
	width: 66%;
	float: left;
}
.leftnav h3{
	color: '#1C4D83';
}
.rightpart{
	padding-top: 10px;
	text-align: right;
	width: 33%;
  float: right;
}

.nav-bot-container{
	background-image: url(../img/bg.jpg);
	padding: 2% 7% 2% 7%;
	background-position: center 60%; 
	background-size:100%;
	font-family: 'bitter';
	height: 150px;
}
.nav-bot-container h3{
	color: #C3D500;
}
.nav-bot-container img{
	float: left;
	width: 40px;
}
.nav-bot-container h5{
	/*line-height: inherit;*/
	/*margin-left: 50px;*/
	font-family: arial;
	color: #eee;
}

.navbar-container{
	float: none;
	display: block;
}
.navbar{
	transition: .5s;
	background-color: #444;
	padding-left: 2%;
}

.navbar-brand{
	display: none;
}
.navbar-items{
	float: right;
	color: #fff;
}
.nav-item{
	font-family: 'Microsoft YaHei', sans-serif;
	font-size: 1.3rem;
	transition: .3s;
	margin-left: 3px;
	margin-right: 3px;
}
.navlink:hover{
	transition: .3s;
	color: #fff;
}

.dropdown:hover>.dropdown-menu{
		display: block;
}
.dropdown:active>.dropdown-menu{
	display: block;
}

.index-container{
	background-color: #f3f3f3;
	padding: 3% 5% 5% 5%;
}
.words p{
	margin: 0;
	padding: 10px 0px 0px 0px;
	font-weight: 700;
}

.title-container{
	padding: 2px;
	background-color: var(--main-light-blue);
	border-radius: 10px;
	border-bottom: 3px solid var(--main-dark-blue);
}
.img-rounded{
	width: 100%;
}
.footer-container{
	padding: 3% 3% 3% 3%;
	align-items: center;
	text-align: left;
}
.footer{
	font-size: 0.9rem;
}
.back-to-top{
	text-align: center;
	position: fixed;
	right: 10px;
	bottom: 10px;
	opacity: 0;
	border-radius: 100px;
	transition: .3s;
}
.back-to-top:hover{
	opacity: 1;
	transition: .3s; 
}
.back-to-top img{
	width: 50px;
}
.advisor-container{
	display: flex;
	justify-content: center;
	color: #555;
	margin: 100px 0px 100px 0px
}
.buttons{
	display: flex;
	justify-content: center;
	text-align: center;
}
.buttons a{
	padding-right: 10px;
	padding-left:10px;
}

.tst{
	display: flex;
	justify-content: center;
}

.yahei{
	font-family: 'Microsoft YaHei';
}
.event-container{
	border-bottom: 1px solid;
	padding-bottom: 5px;
	margin-bottom: 30px;
}
.p-container{
	background-color: #fff;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	font-size: 0.97rem;
}

.newstitle{
	transition: .3s;
	color: #0E90D2;
}
.newstitle:hover{
	color: #0E90D2;
	text-decoration: underline;
}
.pubulication-table thead{
	background-color: azure;
}
.pubulication-table td{
	font-size: 1rem;
}

.cardimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.cardimg img{
	max-height: 150px;
}
.JQellipsis{
	white-space: pre-wrap;
}
.phone_select{
	display: none;
}
.leftpart1{
	display: block;
	max-width: 20%;
	float: left;
	height: 100% ;
	padding-top: 10px;
	vertical-align:middle;
	box-sizing: border-box;
}
.leftpart1 img{
	width: 100%;
}
.rightpart1{
	display: block;
	padding-left: 20px;
	width: 80%;
	float: right;
}

@media screen and (max-width: 960px) {
	.main-container{
		margin:0px;
	}
	.navbar-brand{
		display: initial;
	}
	.nav-top-container{
		display: none;
	}
	.aside{
		display: none;
	}
	.phone_select{
		display: initial;
	}
}
